/* This is a CSS-style comment */
/* The pre-defined colour names are from http://www.w3schools.com/cssref/css_colornames.asp */ 
body {
	background-color: white;
	color: Navy;
	text-align: justify;
	font-style:italic;
	padding:50px 20%;
}

p {
	padding-left: 20%;
	padding-right: 20%;	
	line-height: 1.5em;	
	color:darkslategray;
	font-family: "Georgia font", Times, serif;
}

h1, h3 { 
	text-align: center;
	color: plum;
	font-style: italic;	
}
 h2 { 
	text-align: right;
	color: plum;
	border-bottom-style: inset;
	border-color: lightslategray;
	font-style: italic;	
}
hr {
	border: dotted 2px;
	border-color: lightslategray; 
	width:50%;
}
 #big-achievement {
	  color:red;
}

/* strong and em define no particular formatting. They merely indicate that the embedded content should be emphasised. */

b, strong { font-weight: bold; } /* bold tends to be the default for "strong", but it's good to set this explicitly */

/* 
	The default for em tends to be italics, but it's good to be explicit.
	Our em is going to be both italic and bold.
 */
i, em { font: size 125%;
	font-style: italic; 
	font-weight: bold; 
}